.dropdown {
  width: 100%;
  min-width: 0;
  padding-top: 0;
}
.dropdown-item {
  width: 100%;
  padding: 15px 30px;
  cursor: pointer;
}

.dropdown-item:hover {
  width: 100%;
  background: var(--gray-50, #f9fafb);
}
