.wrapper {
  padding: 80px 32px;
}

.search-box {
  width: 100%;
}

.feature-card {
  width: 488px;
  border-radius: 24px;
  border: 1px solid var(--gray-200, #eaecf0);
  background: var(--base-white, #fff);
  box-shadow: var(--shadow-sm);
  padding: 16px 24px 16px 16px;
  .img-wrapper {
    width: 120px;
    min-width: 120px;
    height: 120px;
    border-radius: 12px;
    overflow: hidden;
  }
}

.customers {
  padding: 80px 32px;
  background-color: #f3ffff;
  .customer-list {
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 24px;
  }
  .business-info {
    flex-direction: column;
    gap: 24px;
  }
  .contact-btn {
    display: none;
  }
  .feature-card {
    flex-direction: column;
    width: 100%;
    gap: 16px;
    .img-wrapper {
      width: 80px;
      height: 80px;
      min-width: 80px;
    }
    h6 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
  }
  .customer-list {
    .customer-img {
      width: 176px;
      min-width: 176px;
      height: 64px;
    }
  }
}
