.breadcrumbsWrapper {
  border-bottom: 1px solid var(--gray-200, #eaecf0);
}

.breadcrumbs {
  padding: 16px 32px;
}

.carousel {
  padding: 0 24px;
}

.navigation {
  padding: 80px 32px;
  .mapLink {
    color: var(--primary-base, #77dada);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: underline;
  }
}

.ship-detail {
  padding: 80px 32px;
  .tabs {
    position: -webkit-sticky;
    position: sticky;
    top: 96px;
    z-index: 10;
  }
}

.features {
  .overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 24px;
    path {
      stroke: var(--primary-base);
    }
  }
}

.room-types {
  border-radius: 24px;
  background-color: #f2f4f7;
  padding: 32px;
  .price-label {
    color: var(--gray-700);
  }
  .price {
    color: var(--primary-dark, #0e4f4f);
  }
}

.side-bar {
  min-width: 384px;
}

.side-bar-mb {
  display: none;
  min-width: 0;
  width: 100%;
  padding: 24px;
}

.ship-info {
  &__header {
    padding: 20px 24px;
    border-bottom: 1px solid var(--gray-200, #eaecf0);
  }

  &__content {
    padding: 20px 24px;
    svg {
      width: 20px;
      min-width: 20px;
      height: 20px;
    }
    &__label {
      width: 120px;
      min-width: 120px;
      color: var(--gray-600, #475467);
    }
    label {
      color: var(--gray-900);
    }
  }
}

.rating-list {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--gray-200, #eaecf0);
}

.search-input {
  width: 200px;
  height: 40px;
  > label {
    padding: 5px 16px;
    height: 100%;
  }
}

.blog-img {
  border-radius: 24px;
  overflow: hidden;
}

.booking-detail-modal {
  width: 800px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 24px;
  flex: 1 0 0;
}

.divider {
  border-bottom: 1px solid var(--gray-200, #eaecf0);
}

.group-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  justify-content: flex-start;
}

.popular-ships {
  background-color: #f2f4f7;
}

@media (max-width: 1200px) {
  .booking-detail-modal {
    width: 100%;
    &__footer {
      flex-direction: column;
      gap: 24px;
    }
    .actions {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      > button {
        width: 100%;
      }
    }
  }
  .side-bar {
    display: none;
  }
  .side-bar-mb {
    display: block;
  }
  .navigation {
    padding: 24px;
    .badge-list {
      flex-direction: column;
    }
  }
  .ship-detail {
    padding: 24px;
    gap: 24px;
  }
  .features {
    .overview {
      grid-template-columns: auto;
    }
  }
  .room-types {
    padding: 16px;
    gap: 16px;
  }
  .rooms-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .review-header {
    flex-direction: column;
    .group-btn {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .search-input {
        width: 100%;
      }
      button {
        width: 100%;
      }
    }
  }
  .group-input {
    grid-template-columns: 100%;
  }
}
