button {
  border-radius: 100px;
  box-shadow: var(--shadow-xs);
}

button:focus {
  box-shadow: 0px 0px 0px 4px #f2f4f7;
  box-shadow: 0px 1px 2px 0px #18181b0d;
}

.button-normal {
  padding: 16px 20px;
}

.button-small {
  padding: 10px 16px;
}

/* button color */
.button-color {
  background-color: var(--primary-base);
  border: 1px solid #77dada;
  color: var(--primary-dark);
}

.button-color:hover {
  background-color: var(--primary-dark);
  color: white;
}

.button-color:disabled {
  background-color: var(--primary-light);
}

/* button color destructive */
.button-color-destructive {
  background-color: var(--error-base);
  border: 1px solid var(--error-base);
  color: white;
}

.button-color-destructive:hover {
  background-color: var(--error-dark);
  border: 1px solid var(--error-dark);
}

.button-color-destructive:disabled {
  background-color: var(--error-light);
  border: 1px solid var(--error-light);
}

/* button outline */
.button-outline {
  background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(0deg, #eaecf0, #eaecf0);
  border: 1px solid #eaecf0;
  color: var(--gray-800);
}

.button-outline:hover {
  background: linear-gradient(0deg, #eaecf0, #eaecf0), linear-gradient(0deg, #f9fafb, #f9fafb);
  color: var(--gray-700);
}

.button-outline:disabled {
  background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(0deg, #f2f4f7, #f2f4f7);
  border: 1px solid #f2f4f7;
  color: var(--gray-200);
}

/* button outline destructive */
.button-outline-destructive {
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, var(--error-base), var(--error-base));
  border: 1px solid var(--error-base);
  color: var(--gray-800);
}

.button-outline-destructive:hover {
  background: linear-gradient(0deg, var(--error-base), var(--error-base)),
    linear-gradient(0deg, var(--error-light), var(--error-light));
}

.button-outline-destructive:disabled {
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, var(--error-light), var(--error-light));
  border: 1px solid var(--error-light);
}

/* button outline dark */
.button-outline-dark {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border: 1px solid #ffffff33;
  color: white;
}

.button-outline-dark:hover {
  background: #ffffff33;
}

/* button link color */
.button-link-color {
  color: var(--primary-dark);
}

.button-link-color:hover {
  color: var(--primary-base);
}

.button-link-color:disabled {
  background: var(--gray-200);
}
