@mixin side-bar-item {
  display: flex;
  padding: 20px 24px;
  gap: 16px;
}
.side-bar {
  width: 280px;
  height: fit-content;
  border-radius: 24px;
  border: 1px solid var(--gray-200, #eaecf0);
  background: var(--base-white, #fff);
  box-shadow: var(--shadow-sm);
  &__header {
    @include side-bar-item();
    align-items: center;
    border-bottom: 1px solid var(--gray-200, #eaecf0);
  }
  .filter-item {
    @include side-bar-item();
    flex-direction: column;
    justify-content: center;
  }
  &__footer {
    @include side-bar-item();
    align-items: center;
    border-top: 1px solid var(--gray-200, #eaecf0);
  }
  .img-wrapper {
    width: 40px;
    height: 40px;
  }
}
