.contact {
  position: relative;
  padding: 0 24px 400px 24px;
  display: flex;
  justify-content: center;
  .contact-card {
    position: absolute;
    display: flex;
    width: 1008px;
    height: fit-content;
    padding: 40px 24px 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    top: 400px;
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 1024px) {
  .contact {
    padding: 0 8px 800px 8px;
    iframe {
      height: 500px;
    }
    .contact-card {
      width: 90%;
      top: 300px;
    }
    .group-input {
      grid-template-columns: auto;
    }
  }
}
