.banner {
  position: relative;
  margin: auto;
  width: calc(100vw - 64px);
  height: calc(100vh - 230px);
  border-radius: 24px;
  background: url('../../public/banner.jpeg');
  background-size: cover;
  background-position: center center;
  .searchBox {
    position: absolute;
    bottom: -252px;
    transform: translateX(-50%);
    left: 50%;
  }
}

.reviewSection {
  padding-top: 332px;
}

.partnerSection {
  background: var(--gray-50, #f9fafb);
}
