.navigation {
  padding: 16px 32px;
}

.flight-payment {
  padding: 80px 32px;
}

.payment-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-header {
  padding: 20px 24px;
  gap: 16px;
  border-bottom: 1px solid var(--gray-200, #eaecf0);
}

.card-content {
  padding: 20px 24px;
}

.card-footer {
  padding: 20px 24px;
  border-top: 1px solid var(--gray-200, #eaecf0);
}

.partners {
  background: var(--gray-50, #f9fafb);
}

.total-price-pin {
  border-radius: 0;
  bottom: 0;
  position: sticky;
  padding: 20px 32px;
  &__content {
    padding: 0 32px;
    width: 1280px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 1024px) {
  .flight-payment {
    padding: 24px;
    gap: 24px;
  }
  .card-content {
    padding: 16px;
  }
}
