.searchBox {
  padding: 40px 24px 24px 24px;
  width: 1216px;
  margin: auto;
  z-index: 2;
}

.searchBox h4 {
  margin: 0;
}

.distance svg path {
  stroke: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 24px;
  grid-column-gap: 16px;
}

.dropdown {
  min-width: 330px !important;
  transform: translate3d(0px, 30px, 0px) !important;
}

.dropdown-content {
  padding: 20px 24px;
  width: 100%;
}

.dropdown-action {
  padding: 16px;
  width: 100%;
  border-top: 1px solid var(--gray-200, #eaecf0);
}

.selectInput {
  position: relative;
}

.dropdownPeople {
  min-width: 250px;
  padding: 10px;
  width: fit-content;
  position: absolute;
  inset: 0px auto auto 0px;
  top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-100, #f2f4f7);
  background: var(--base-white, #fff);
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  z-index: 4;
}

.dropdown {
  min-width: 500px;
  width: fit-content;
  padding-top: 10px;
  position: absolute;
  inset: 0px auto auto 0px;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-100, #f2f4f7);
  background: var(--base-white, #fff);
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  z-index: 4;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown a {
  width: 100%;
}

.dropdown-item {
  width: 100%;
  padding: 15px 30px;
  cursor: pointer;
}

.dropdown-item:hover {
  width: 100%;
  background: var(--gray-50, #f9fafb);
}

.selectInput .dropdown {
  min-width: 300px;
}
