.wrapper {
  padding: 20px 24px;
  /* position: sticky;
  top: 97px; */
  /* z-index: 9; */
}

.dropdown {
  min-width: 330px !important;
  transform: translate3d(0px, 30px, 0px) !important;
}

.dropdown-content {
  padding: 20px 24px;
  width: 100%;
}

.dropdown-action {
  padding: 16px;
  width: 100%;
  border-top: 1px solid var(--gray-200, #eaecf0);
}
