.header {
  padding: 24px;
  cursor: pointer;
}

.header p {
  color: var(--gray-500, #667085);
}

.header .img-wrapper {
  width: 48px;
  height: 48px;
}

.header .destination {
  width: 140px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header .price {
  width: 96px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header .price label {
  color: var(--success-base, #12b76a);
}

.content {
  display: flex;
  padding: 24px 24px 24px 88px;
  gap: 24px;
}

.content .dot {
  width: 2px;
  height: 2px;
  background-color: var(--gray-400, #98a2b3);
  border-radius: 50%;
}

.content p {
  color: var(--gray-500, #667085);
}
