.close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.info-modal {
  width: 800px;
  padding: 24px;
  flex: 1 0 0;
  max-height: 90vh;
  overflow-y: auto;
}

.info-modal .img-wrapper {
  margin-top: 48px;
}
