.close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.info-modal {
  width: 800px;
  padding: 24px;
  flex: 1 0 0;
  max-height: 90vh;
  overflow-y: auto;
}

.info-modal .img-wrapper {
  margin-top: 48px;
}

@media (max-width: 1024px) {
  .info-modal {
    width: 100%;
  }
  .info-modal h5 {
    font-size: 24px;
  }
  .info-modal p {
    font-size: 14px;
  }
}
