.wrapper {
  width: 100%;
}

.container {
  padding: 0 32px 48px 32px;
  display: grid;
  grid-template-columns: 70% 30%;
  .side-content {
    padding-left: 32px;
  }
}

.card-header {
  padding: 20px 24px;
  gap: 16px;
  border-bottom: 1px solid var(--gray-200, #eaecf0);
}

.card-content {
  padding: 20px 24px;
}

.card-footer {
  padding: 20px 24px;
  border-top: 1px solid var(--gray-200, #eaecf0);
}

.upload-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 24px;
  border-radius: 12px;
  border: 1px dashed var(--gray-200, #eaecf0);
  cursor: pointer;
}
.image-item {
  width: 78px;
  height: 78px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  .remove-image-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--gray-200, #eaecf0);
    background: var(--base-white, #fff);
    box-shadow: var(--shadow-sm);
    z-index: 2;
  }
}
.dropdown-item {
  width: 100%;
  padding: 15px 30px;
  cursor: pointer;
}
