@mixin side-bar-item {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  gap: 16px;
}

.customer-info {
  display: flex;
  flex-direction: column;
  &__header {
    @include side-bar-item();
    justify-content: center;
    border-bottom: 1px solid var(--gray-200, #eaecf0);
  }
  &__content {
    @include side-bar-item();
  }
  &__footer {
    @include side-bar-item();
    border-top: 1px solid var(--gray-200, #eaecf0);

    .img-wrapper {
      width: 40px;
      height: 40px;
    }
    .dropdown-btn {
      justify-content: space-between;
    }
  }
}

.allowanceBaggage {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
}

.allowanceBaggageItem {
  display: flex;
  gap: 4px;
  align-items: center;
}

.selectInput {
  position: relative;
}

.dropdown {
  min-width: 250px;
  padding: 10px;
  width: fit-content;
  position: absolute;
  inset: 0px auto auto 0px;
  top: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-100, #f2f4f7);
  background: var(--base-white, #fff);
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  z-index: 1;
}

.dropdown a {
  width: 100%;
}

.dropdown-item {
  width: 100%;
  padding: 15px 30px;
  cursor: pointer;
}

.dropdown-item:hover {
  width: 100%;
  background: var(--gray-50, #f9fafb);
}

.selectInput .dropdown {
  min-width: 300px;
}

@media (max-width: 1024px) {
  .input-group {
    grid-template-columns: 100%;
  }
}
