.container {
  width: 100vw;
  height: 90vh;
  min-height: 500px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalLogin {
  width: 370px;
  height: min-content;
  border-radius: 16px;
  border: solid 1px #eaecf0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  gap: 30px;
}

.inputCustom {
  width: 100%;
}
